/*
Colors used:
Primary Color (White): FFFFFF;
Secondary Color (Black):353535;
Accent Color (Grey):D9D9D9;
Accent Color (Green):3C6E71;
*/

body {
  background-color: #ffffff;
  font-family: 'assistant', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #353535;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 1.75em;
  font-weight: 400;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
}

h4 {
  font-size: 1.125em;
  font-weight: 700;
}

img {
  width: 100%;
  border-radius:5px
}

a {
  color: #3C6E71;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #353535;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:focus {
  color: #3C6E71;
  text-decoration: underline;
  background-color: #fff;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #3C6E71;
  background-color: #fff;
}

.button {
  display: inline-block;
  background-color: #3C6E71;
  color: #fff;
  text-transform: uppercase;
  padding: 12px;
  border-radius: 3px;
  text-decoration: none;
  font-weight: 500;
  margin-top: 32px;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  background-color: #fff;
  border: 2px solid #3C6E71;
  color: #3C6E71;
  text-decoration: none;
  opacity: 0.8;
}

.button:active {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

header {
  position: fixed;
  text-align:center;
  width: 100%;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
  -moz-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
  padding: 20px 0 4;
}


#work {
  padding-bottom: 48px;
  border-bottom: 1px solid #FFFFFF;
  padding-top: 28px;
  float: right;
}

#hero h3 {
  text-align: center;
  /* Centers text */
  margin: 0;
  padding: 0.67em 0;
}

#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: #FFFFFF;
  margin-bottom: 16px;
}

#hero span {
  display: block;
}

#contact h4 {
  text-align: center;
  background-color: #FFFFFF;
  padding-top: 16px;
  margin-top: 48px;
}

footer {
  margin-bottom: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}

.linkedin {
  display: inline-block;
  width:48px
}

.email {
  display: inline-block;
  width:48px
}

.behance {
  display: inline-block;
  width:48px
}

/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.logo {
  max-width: 250px;
}

nav {
  display: inline-block;
  width:100%
}

nav>ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #3C6E71;
}

nav > ul > li > a:active {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

main {
  padding-top: 200px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

header {
    text-align: unset;
    padding: 20px 0 13px;
  }

nav {
    width: auto;
    float: right;
    margin-top: 7px;
  }

body {
  font-size: 18px;
  }

#hero span {
  display:block;
  text-align: center;
  }

#hero span h3 {
  text-align: center;
  }

.col-md-6 {
  width: 50%;
}

.col-md-5 {
  width: 50%;
  float: right;
}

.col-md-7 {
  width: 50%;
  float: left;
}

[class*="col-"] {
  float: left;
  padding:10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  padding:10px;
}
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

.col-md-6 {
  width:50%;
}

[class*="col-"] {
  float: left;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  padding: 10px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}
